body{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding: 0;
}
.top-baslik{
 background-color:purple;
 padding: 10px;
 color: #fff;
 margin-top:0px;
 border-radius: 5px;
}
.music-list {
  padding: 20px;
}

.music-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.music-item {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  width: 15%;
  align-items: center;
}

.music-item img {
  width: 250px;
  height: auto;
  border-radius: 5px;
}
.dinle-button{
  background-color: purple;
  border:none;
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
}